<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> Module Registration </title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"> 
    </head>

    
        <header>

            <div class="navbar">
                <a href="student">Home</a>
               
                <div class="dropdown">
                  <button class="dropbtn">Student
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                    <a href="stureg">Registration form (Personal Information)</a>
                    <a href="ststudy">Registration form (Study Information)</a>
                    <a href="stpersonal">View Personal Information</a>
                    <a href="ststuinfo">View Study Information</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">Module
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                      <a href="modulereg">Registration</a>
                      </div>
                  </div>

                  <div class="dropdown">
                    <button class="dropbtn">Studies
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                       <a href="#">View Result</a>
                      </div>
                  </div>

                <a href="logout">Logout</a> 
            </div>
 
        </header>

        <body align="center">
            <p>
               <br></br><br>
            {{msg}}
         </br>
            
        <form action="#">

            <label for="module">Select module 1:</label>
            <select name="module" id="module">
                <option value="select">Select module</option>
              <option value="SS1201">SS1201 Introduction to Computering </option>
              <option value="ZZ1202">ZZ1202 Computer System </option>
              <option value="SS1203">SS1203 Java Fundamental </option>
              <option value="ZZ1304">ZZ1304 Computer Securityg</option>
              <option value="SS1303">SS1303 Introduction to Python</option>
              <option value="SS2201">SS2201 C# Language </option>
              <option value="SS2207">SS2207 Intoduction to AL</option>
              <option value="SS4301">SS4301 Multimedia </option>
              
            </select>
            <br>
            
            <label for="module">Select module 2:</label>
            <select name="module" id="module">
                <option value="select">Select module</option>
              <option value="SS1201">SS1201 Introduction to Computering </option>
              <option value="ZZ1202">ZZ1202 Computer System </option>
              <option value="SS1203">SS1203 Java Fundamental </option>
              <option value="ZZ1304">ZZ1304 Computer Securityg</option>
              <option value="SS1303">SS1303 Introduction to Python</option>
              <option value="SS2201">SS2201 C# Language </option>
              <option value="SS2207">SS2207 Intoduction to AL</option>
              <option value="SS4301">SS4301 Multimedia </option>
              
            </select>
            <br>

            <label for="module">Select module 3:</label>
            <select name="module" id="module">
                <option value="select">Select module</option>
              <option value="SS1201">SS1201 Introduction to Computering </option>
              <option value="ZZ1202">ZZ1202 Computer System </option>
              <option value="SS1203">SS1203 Java Fundamental </option>
              <option value="ZZ1304">ZZ1304 Computer Securityg</option>
              <option value="SS1303">SS1303 Introduction to Python</option>
              <option value="SS2201">SS2201 C# Language </option>
              <option value="SS2207">SS2207 Intoduction to AL</option>
              <option value="SS4301">SS4301 Multimedia </option>
              
            </select>
            <br>

            <label for="module">Select module 4:</label>
            <select name="module" id="module">
                <option value="select">Select module</option>
              <option value="SS1201">SS1201 Introduction to Computering </option>
              <option value="ZZ1202">ZZ1202 Computer System </option>
              <option value="SS1203">SS1203 Java Fundamental </option>
              <option value="ZZ1304">ZZ1304 Computer Securityg</option>
              <option value="SS1303">SS1303 Introduction to Python</option>
              <option value="SS2201">SS2201 C# Language </option>
              <option value="SS2207">SS2207 Intoduction to AL</option>
              <option value="SS4301">SS4301 Multimedia </option>
             
            </select>
            <br>

            <label for="module">Select module 5:</label>
            <select name="module" id="module">
            <option value="select">Select module</option>
            <option value="SS1201">SS1201 Introduction to Computering</option>
            <option value="ZZ1202">ZZ1202 Computer System </option>
            <option value="SS1203">SS1203 Java Fundamental </option>
            <option value="ZZ1304">ZZ1304 Computer Securityg</option>
            <option value="SS1303">SS1303 Introduction to Python</option>
            <option value="SS2201">SS2201 C# Language </option>
            <option value="SS2207">SS2207 Intoduction to AL</option>
            <option value="SS4301">SS4301 Multimedia </option>
              
            </select>
            <br>

            <label for="module">Select module 6:</label>
            <select name="module" id="module">
              <option value="select">Select module</option>
              <option value="SS1201">SS1201 Introduction to Computering</option>
              <option value="ZZ1202">ZZ1202 Computer System </option>
              <option value="SS1203">SS1203 Java Fundamental </option>
              <option value="ZZ1304">ZZ1304 Computer Securityg</option>
              <option value="SS1303">SS1303 Introduction to Python</option>
              <option value="SS2201">SS2201 C# Language </option>
              <option value="SS2207">SS2207 Intoduction to AL</option>
              <option value="SS4301">SS4301 Multimedia </option>
             
            </select>

            <br>
            <input type="submit" value="Submit" />
      </form>       
            </p>
        </body>
</html>