<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> User Profile </title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"> 
    </head>

    
        <header>

            <div class="navbar">
                <a href="student">Home</a>
               
                <div class="dropdown">
                  <button class="dropbtn">Student
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                    <a href="stureg">Registration form (Personal Information)</a>
                    <a href="ststudy">Registration form (Study Information)</a>
                    <a href="stpersonal">View Personal Information</a>
                    <a href="ststuinfo">View Study Information</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">Module
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                      <a href="modulereg">Registration</a>
                      </div>
                  </div>

                  <div class="dropdown">
                    <button class="dropbtn">Studies
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                       <a href="#">View Result</a>
                      </div>
                  </div>

                <a href="logout">Logout</a> 
            </div>
    
        
        </header>

        <body align="center">
            <p>
               <br>
                VIEW RESULT
                <br/>
            </p>

            {% for row in result %}

            <div class= "regno">
                Reg no: {{row['regno']}} <br> <br>

            </div>

            <div class= "module">
                Module: {{row['module']}} <br> <br>

            </div>

            <div class= "finalgrade">
                Result: {{row['finalgrade']}} <br> <br>



            </div>


            {% endfor %}

            <br>


            
        </body>

        
 
  

</html>